<!DOCTYPE html5>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Index HTML</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
	</head>
	<body>
		<p style= "font-size: 20px; margin-left: 25%"> Welcome! </p>
		<div style="background-color:blue; border-style:bold; border-color:black; padding: 10%; display: inline-block;" >
		</div>
		<div style="background-color:blue;color:black; padding: 10%; display: inline-block;" >
		</div>
		<div style="background-color:blue;color:black; padding: 10%; display: inline-block;" >
		</div>
		
	</body>
</html>